.list-block .item-inner{
    flex-direction: column;
}
.item-big-title{
    width:100%;
    height:1.5rem;
    display:flex;
    align-items: center;
    font-size:14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.item-small-title{
    width:100%;
    height:1rem;
    display:flex;
    align-items: center;
    font-size:12px;
    text-indent: 8px;
}
.item-small-light{
    margin:0 0 0 20px;
    color:#999;
    font-size:12px;
}
.item-small-state{
    margin:0 20px;
    color:#999;
}
.state-new{
    color:#fa7b14
}
.item-media img{
    border-radius:50%;
    -webkit-border-radius:50%;
}
/*课堂详情*/
.item-inner .item-inner-text{
    display:flex;
    flex-shrink: 1;
    width: 100%;
    height:2.0rem;
    font-size: 16px;
    align-items: center;
    justify-content: flex-start;
}
@media screen and (max-width: 321px){
    .item-small-light{
        margin:0
    }
    .item-small-state{
        margin:0 5px
    }
}